.containerHomePage{
  display: flex;
  flex-direction: row;
  font-family: "Love Ya Like A Sister";
  margin-top: 15%;
  margin-left: 10%;
}

.textHeader{
  max-width: 60%;
}

.black_larg , .black_small, .pink_text{
  font-family: "Love Ya Like A Sister";
  font-weight: 400;
}

.black_small{
    font-size: 9vh;
  }
  .black_larg{
    font-size: 21vh;
  }
  .pink_text{
    font-size: 21vh;
    color: #f1356d;
  }